  .equip
  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px 40px;
  }
  .our-equip-container h1{
    font-size: 50px;
    padding: 40px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
  }
  
  .service-card {
    background: #fff;
    border-radius: 12px;
    border: 0.6px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
  }
  
  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  }
  .service-card:hover .service-content
  {
    background-color: #f2c014;
  }
  
  .service-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .service-card:hover .service-image {
    transform: scale(1.05);
    background-color: #f2c014;
    background-blend-mode: color-dodge;
  }
  
  .service-content {
    padding: 1rem;
    text-align: left;
  }
  
  .service-content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
    transition: color 0.3s ease;
  }
  
  .service-content p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
  }
  
  @media(max-width:992px)
  {
    
    .our-equip-container h1{
      font-size: 40px;
      padding-bottom: 30px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bolder;
      font-family: "Poppins", sans-serif;
    }
    
    .service-card {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      max-width: 100%;
      margin: 0 auto;
    }
  }